body {
--dg-content-max-width: 1000px!important;
--link-color: rgb(159, 43, 104)!important;
--link-color-hover: rgb(115, 48, 84)!important;
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
.sidebar {
    z-index:1!important
}
